@import "tailwindcss";


body{
    opacity:1;
}

body::before{
    content:"";
    position:fixed;
    inset:0;
    pointer-events:none;

    background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='56' height='49' viewBox='0 0 56 49'%3E%3Cg fill='none' stroke='%23cbd5e1' stroke-width='1'%3E%3Cpath d='M14 1l14 8v16l-14 8L0 25V9z'/%3E%3Cpath d='M42 1l14 8v16l-14 8-14-8V9z'/%3E%3Cpath d='M28 25l14 8v16l-14 8-14-8V33z'/%3E%3C/g%3E%3C/svg%3E");

    background-size:56px 49px;
    opacity:.25;
}
@keyframes idswing {
  0% {
    transform: rotate(6deg);
  }
  25% {
    transform: rotate(-1deg);
  }
  50% {
    transform: rotate(-6deg);
  }
  75% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(6deg);
  }
}
 